services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=todo_db
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d todo_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./backend
    container_name: node_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://admin:password@db:5432/todo_db
      - JWT_SECRET=ma_cle_secrete_sql
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  client:
    build: ./frontend
    container_name: web_client
    ports:
      - "8080:80"
    networks:
      - app_network

  # Interface visuelle pour Postgres
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_gui
    restart: always
    ports:
      - "8081:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  pg_data: