services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb_service
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./backend
    container_name: node_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/todo_db
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app_network

  client:
    build: ./frontend
    container_name: react_client
    restart: always
    ports:
      - "8080:80"
    networks:
      - app_network

  mongo-gui:
    image: mongo-express
    container_name: mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      # On force l'URL complète pour éviter que Mongo-Express cherche "mongo" par défaut
      - ME_CONFIG_MONGODB_URL=mongodb://mongodb:27017/
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=password
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data: